################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Aspire/AspireApp.AppHost/bin/
Aspire/AspireApp.AppHost/obj/
Aspire/AspireApp.ServiceDefaults/bin/
Aspire/AspireApp.ServiceDefaults/obj/
Morganas/bin/
Morganas/obj/
Umbraco/bin/
Umbraco/obj/


